header{
  height: 120px;
  background-color: $white
}

.brand{
  display: inline-block;
  height: 120px;
  line-height: 120px;

  img{
    width: 180px;
    height: auto;
    vertical-align: middle;
  }
}
